#div-1 {
  width: 200px;
  height: 200px;
  padding: 50px;
  background-color: #f0e799;
}

#div-2 {
  width: 300px;
  height: 400px;
  padding: 50px;
  background-image: url(https://picsum.photos/id/350/400/500);
}

#div-3 {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid black;
  background-image: url(https://picsum.photos/id/350/400/500);
  background-repeat: no-repeat;
  background-size: contain;
}

#div-4 {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid black;
  background-image: url(https://picsum.photos/id/350/400/500);
  background-repeat: no-repeat;
  background-size: cover;
}

#div-5 {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid black;
  background-image: url(https://picsum.photos/id/350/400/500);
  background-repeat: no-repeat;
  background-size: 200px;
}

#div-6 {
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 10px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-image: url(https://picsum.photos/id/350/200/200);
  background-position: center;
}

#div-7 {
  width: 300px;
  height: 300px;
  padding: 50px;
  margin: 10px;
  background-repeat: repeat;
  background-image: url(https://picsum.photos/id/350/200/200);
}

#div-8 {
  width: 180px;
  height: 280px;
  padding: 50px;
  margin: 10px;
  background-attachment: fixed;
  background-image: url(https://picsum.photos/id/234/300/400);
}

#linear-1 {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  border: #8b3166 2px dashed;
  background-image: linear-gradient(to right, #f0e799, #ebacd1);
  box-shadow: 8px 8px 0px #000000; /* hard offset shadow */
}

#linear-2 {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border-top: rgb(90, 0, 18) 10px solid;
  background-image: linear-gradient(crimson, transparent);
  box-shadow: 10px 0px 50px; /* soft box-shadow */
}

#radial-1 {
  width: 250px;
  height: 250px;
  padding: 100px;
  margin: 20px;
  border: powderblue 6px dotted;
  background-image: radial-gradient(powderblue, cadetblue, blue);
  border-radius: 50%;
  box-shadow: 10px 10px 10px green inset;
}

#radial-2 {
  width: 200px;
  height: 200px;
  padding: 70px;
  margin: 20px;
  border: khaki 10px double;
  background-image: radial-gradient(khaki 40%, mediumaquamarine);
  box-shadow:
    5px 5px 8px pink,
    10px 10px 8px rgb(110, 175, 228),
    15px 15px 8px green;
}
