.products {
  background-color: rgb(238, 238, 226);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 1fr));
  gap: 10px;
}

.prod,
.box {
  border: 1px solid grey;
  background-color: aliceblue;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-fit-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.auto-fill-div {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.span-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

#span-3 {
  grid-column: auto/-1;
}

.span-div2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#featured-div {
  grid-column: span 2;
  grid-row: span 2;
}
